* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background-color: #FBF6FF;
}

/* HEADER */

.container {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 background-color: #290742;;
 padding: 40px;   
}

.header-text {
    color: white;
    
}

.header-text a {
    margin: 0 10px 0 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 4px;

}

.header-text a:hover {
    /* border-left: 2px solid #4FFF4B; */
    box-shadow: -2px 0 0 #4FFF4B;
    
}

.header-search {
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: #170027;
    border-radius: 4px 0px 0px 4px;
    width: 230px;
    height: 44px;
    border: 0;
    color: white;
    padding: 10px;
}

.search-bar::placeholder {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.search-bar:focus{
    outline-width: 0;
}


.search-button {
    border: 0;
    width: 70px;
    height: 44px;
    background-color: #9E6DC2;
    border-radius: 0px 4px 4px 0px;
}

/* END HEADER */

/* MAIN */

/* FIRST SECTION */

.first-section #container {
    display: flex;
    flex-direction: row;
    align-items:center ;
    background-color: #290742;
    padding: 20px 60px 60px 60px;
    border-bottom: 6px solid #4FFF4B;
}

.first-section #image{
    margin-left: 40px;
}

.first-section #text {
  
    color: white;
}

.first-section #text h1 {
    margin-bottom: 20px;
    color: #9E6DC2;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.first-section #text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
}

.first-section #button {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
    color: #9E6DC2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.button-arrow {
    margin-left: 8px;

}

/* END FIRST SECTION */

/* SECOND SECTION */

.second-section #container {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    padding: 60px;
}

.second-section #article-with-photo {
    margin: 0 30px;

}

.second-section #article-photo  {

    margin-bottom: 8px;
    
}

.second-section #article-with-photo h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #290742;
}

.second-section #article-with-photo p {
    max-width: 573px;
}

.second-section #two-articles {
    margin: 0 30px;
}

.second-section #article-1 {
    margin-bottom: 50px;
}

.second-section #article-1 h2 {
    margin-top: 8px;
    margin-bottom: 10px;
    color: #290742;
}

.second-section #article-2 h2 {
    margin-top: 8px;
    margin-bottom: 10px;
    color: #290742;
}

/* END SECOND SECTION */

/* LAST SECTION */

.last-section #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.last-section #articles {
    margin: 25px;
}

.last-section #articles-photo {
    margin-bottom: 8px;
    
}


.last-section #articles h2 {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #290742;
}
/* END LAST SECTION */